<app-header-component></app-header-component>
<app-exit-button (refreshEmitter)="exit()" ></app-exit-button>
<div class="div-perfil">
    <app-jogador-component *ngIf="visualizar" [jogador]="jogador">
        <button class="btn fifth" (click)="editaPerfil()">Editar</button>
    </app-jogador-component>
    <div class="container-central" *ngIf="!visualizar">
        <div class="div-alert" *ngIf="alertBoolean">
            <div #alert class="alert" [ngStyle]="{'background-color': alertColor}" id="alert">
                <span class="closebtn" (click)="modalzera()">&times;</span>
                {{frase}}
            </div>
        </div>
        <form name="forms">
            <button (click)="editaPerfil()" class="fechar">X</button>
            <h1>Editar Perfil</h1>
            <input type="text" placeholder="Nome de usuário" name="usuario" class="form-control" [(ngModel)]="nome">
            <input type="password" class="form-control" placeholder="Senha" name="senha" [(ngModel)]="senha">
            <button class="btn fifth" type="button" (click)="postEdicoes()" form="forms">Salvar</button>
        </form>
    </div>
</div>