* {
    padding: 0%;
    margin: 0px;
}

h1 {
  color: #fff;
}


.div-fundo {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.div-fundo > img {
    position:absolute;
    width: 100%;
    height: 100vh;
    z-index: 10;
}

.container-central {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 500px;
    z-index: 11;
    border-radius: 10px;
    background-color: #1c2b4b;
    align-items: center;
    justify-content: space-around;
    padding: 30px;
    
}


.container-central > form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

form > input, select {
    padding-left: 10px;
    height: 30px;
    width: 90%;
    margin: 10px;
}

label {
    color: #fff;
}


/* Botao */

.fifth {
    border-radius: 10px;
    width: 100px;
    height: 40px;
    border-color: #fff;
    border-radius: 10px;
    color: #fff;
    position: relative;
    overflow: hidden;
    z-index: 1;
    -webkit-transition: color 150ms ease-in-out;
    transition: color 150ms ease-in-out;
  }
  .fifth:after {
    
    content: '';
    position: absolute;
    display: block;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 0;
    height: 100%;
    background: #fff;
    z-index: -1;
    -webkit-transition: width 150ms ease-in-out;
    transition: width 150ms ease-in-out;
  }
  .fifth:hover {
    transition-duration: .3s;
    border-radius: 10px;
    color: #000;
  }
  .fifth:hover:after {
    transition-duration: 0.3s;

    width: 110%;
  }



