<div class="div-carta" tabindex="0" (keydown)="onKeyDown($event)">
    <div class="imagem">
        <img [src]="carta.url" class="foto-rapper">
    </div>   
    <div class="informacoes">
        <p class="nome-rapper"><strong>{{carta.nome}}</strong></p>
        <p class="freestyle" [ngStyle]="{'font-weight' : boldList[0]}">Freestyle: {{carta.freestyle}}</p>
        <p class="originalidade" [ngStyle]="{'font-weight' : boldList[1]}">Originalidade: {{carta.originalidade}}</p>
        <p class="impacto" [ngStyle]="{'font-weight' : boldList[2]}">Impacto: {{carta.impacto}}</p>
        <p class="maisOuvidas" [ngStyle]="{'font-weight' : boldList[3]}">Músicas mais ouvidas: {{carta.maisOuvidas}}</p>
        <p class="ranking">Ranking: {{carta.ranking}}</p>
    </div>
</div>