.div-jogador {
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: black;
    flex-direction: column;
    margin: 30px;
}

.centro {
    padding: 30px;
}

