<div class="corpo">
    <app-header-component></app-header-component>
    <app-exit-button (refreshEmitter)="exit()" ></app-exit-button>
    <div class="container-edicao">

        <div class="modal-cartas" *ngIf="modalEdicaoCartas"> <!-- 1-2.3 -->
            <button (click)="fecharEdicaoCartas()" class="fechar">X</button>
            <app-edicao-component [verificacao]="verificacao" [carta]="carta" [jogador]="jogador" (refreshEmitter)="refresh()"></app-edicao-component>
        </div>

        <div class="modal-cartas" *ngIf="modalCartas && !modalEdicaoCartas"> <!-- 1.2 -->
            <button (click)="controleCartas()" class="fechar">X</button>
            <app-carta-component *ngFor="let carta of listaDeCartas" (click)="abrirEdicaoCartas(carta)" [carta]="carta" [verificaRota]="false">
            </app-carta-component>
        </div>
        

        
        <div class="modal-cartas" *ngIf="modalJogadores && !modalEdicaoCartas"> <!--2.2 -->
            
            <button (click)="controleJogadores()" class="fechar">X</button>
            <app-jogador-component *ngFor="let jogador of listaDeJogadores" (click)="abrirEdicaoJogadores(jogador)" [jogador]="jogador">
            </app-jogador-component>
        </div>

        <div class="div-carta" *ngIf="!modalCartas"> <!-- 1.1 -->
            <div class="opcao-cartas" (click)="controleCartas()">
                <img src="assets/imagens/editarLogoP.png">
                <img src="/assets/imagens/cartasLogoP.png" alt="">
            </div>
        </div>

        <div class="div-carta" *ngIf="!modalJogadores"> <!--2.1 -->
            <div class="opcao-cartas" (click)="controleJogadores()">
                <img src="assets/imagens/editarLogoP.png">
                <img src="/assets/imagens/jgoadoresLogoP.png" alt="">
            </div>
        </div>

        <!-- 4.1  Arrumar funções -->
        <div class="div-carta" *ngIf="!modalEdicaoCartas && !modalEdicaoCartas"> 
            <div class="opcao-cartas" (click)="criarCarta()">
                <img src="assets/imagens/criarLogo.png">
                <img src="/assets/imagens/cartasLogoP.png" alt="">
            </div>
        </div> 

        <!--3.1   Arrumar funções  -->
        <!-- <div class="div-carta" *ngIf="!modalJogadores && !modalEdicaoCartas"> 
            <div class="opcao-cartas" (click)="criarJogador()">
                <img src="assets/imagens/criarLogo.png">
                <img src="/assets/imagens/jgoadoresLogoP.png" alt="">
            </div>
        </div> -->

    </div>
</div>