<div class="div-fundo">
    <img src="/assets/imagens/962183.jpg" alt="">
    <div class="container-central" *ngIf="logar">
        <h1>Login</h1>
        <form>
            <input type="email" class="form-control" id="usuario" name="usuario" aria-describedby="emailHelp"
                placeholder="Usuário" [(ngModel)]="usuario" #nome >
            <input type="password" class="form-control" name="senha" placeholder="Senha" [(ngModel)]="senha">
            <button (click)="enviarDados()" class="btn fifth"  type="submit" >Logar</button>
            <p class="cadastrar" (click)="abreCadastro()">Não possui uma conta?<strong > Cadastre-se</strong></p>
        </form>
    </div>

    <div class="container-central" *ngIf="!logar">
        <h1>Registre-se</h1>
        <form>
            <input type="text" placeholder="Nome de usuário" name="usuario" class="form-control" [(ngModel)]="usuario">
            <input type="password" class="form-control"  placeholder="Senha" name="senha" [(ngModel)]="senha">
            <input type="password" class="form-control" placeholder="Confirmar senha"  name="confirmacaoSenha"[(ngModel)]="confirmacaoSenha">
            <button class="btn fifth"(click)="criarConta()">Criar conta</button>
        </form>
    </div>
</div>
