.corpo {
    height: 100%;
}
.container-cartas {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    background-color: #fff;
    align-items: center;
    flex-wrap: wrap;
}

.foto-rapper {
    width: 230px;
    height: 200px;
    border-radius: 10px;
}

.nome-rapper{
    text-align: center;
    height: 30px;
}
p {
    text-align: center;
    height: 30px;
    margin-bottom: 0;
}

.nome-rapper{
    margin-top: 5px;
    padding-bottom: 30px;
}

.nome-rapper ~p{
    margin-top: 5px;
}



/* Com imagem de fundo */

.div-fundo {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.div-fundo > img {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
}

.container-central {
    width: 90%;
    height: 90%;
    background-color: rgb(255, 255, 255, 0.8);
    padding: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    overflow-y: scroll;
    z-index: 11;
    flex-wrap: wrap;
}

.scroll-div {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    z-index: 12;
}


.tittle-bar {
    display: flex;
    width: inherit;
    justify-content: space-between;
    top: 4px;
    z-index: 13;
    position: fixed;
    padding: 0px 0px 0px 10px;
}

.title {
    background-color: rgb(28, 43, 75);
    top: 4px;
    padding: 12px;
    border-radius: 10px;
}

h3{
    color: #fff;
    margin-bottom: 0;
}

form{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
}
form > input{
    font-size: medium;
    padding: 2px 10px 2px 10px;
    border-radius: 10px;
}



.inherit-position {
    position: relative;
  }

.fechar-div{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 25%;
}



/* Exit button */
.fechar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    background-color:  rgb(28, 43, 75);
    color: #fff;
    font-weight: 900;
    top: 10px;
    right: 0;
    transition-duration: .5s;
    font-size: x-large;
}
.fechar:hover {
    transition-duration: .5s;
    transform: scale(1.05);
    transition: scale(1.3);
}

.cursor-pointer:hover {
    cursor: pointer;
}

.div-desafiar{
    transition-duration: .5s;
    cursor: pointer;
    padding: 10px;
    background-color: rgb(28, 43, 75);
    border-radius: 10px;
    position: absolute;
    top: 91%;
    z-index: 13;
}

.div-desafiar:hover {
    transition-duration: .5s;
    transform: scale(1.01);
    transition: scale(1.3);
}





